<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>

  <unity>
    <containers>
      <container>
        <types>
          <type type="Editor.Services.ICMSServices, Editor.Services" mapTo="cms.EditorServices.EditorService, cms.EditorServices" />
        </types>
      </container>
    </containers>
  </unity>
  <!-- Configurazione NHibernate Oracle -->
  <hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
    <session-factory name="NHibernate.Test">
      <property name="connection.driver_class">NHibernate.Driver.OracleClientDriver</property>
      <property name="connection.connection_string">
        Data Source=OP21;User ID=EDITOR;Password=editor;Pooling=true;Connection Lifetime=120;Max Pool Size=50
      </property>
      <property name="show_sql">false</property>
      <property name="dialect">NHibernate.Dialect.Oracle9iDialect</property>
      <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
    </session-factory>
  </hibernate-configuration>
  <appSettings>
    <add key="configFile" value="C:\cchelp\cms\cms.web\DotLuceneLibConf.xml" />
    <add key="OraConnectionString" value="Data Source=OP21;User ID=DYNEWIND;Password=DYNEWIND;Pooling=true;Connection Lifetime=120;Max Pool Size=50"/>
    <add key="ServerPath" value="C:\cchelp\cms\cms.web\" />
    <add key="FileServer" value="C:\cchelp\cms\cms.web\" />
    <add key="FileThemes" value="C:\cchelp\cms\cms.web\Themes\" />
    <add key="Img" value="C:\cchelp\cms\cms.web\cms\Editor\Img\" />
    <add key="LOGPATH" value="C:/Logs"/>
  </appSettings>
</configuration>