html, body {height:100%; margin: 0; padding: 0; }

body
        {
        	font-family:"Trebuchet MS";
        	font-size:12px;
        	color:#333;
        }
        a, a #hover, span
        { text-decoration:none;
          color:#E6E2CC;
        }
        .stroke
        {
        text-decoration:line-through;
        }
html>body {
	font-size: 16px; 
	font-size: 68.75%;
} /* Reset Base Font Size */

body {
	font-family: Verdana, helvetica, arial, sans-serif;
	font-size: 68.75%;
	background: #222c33;
	color: #333;
	scrollbar-face-color: #222c33;
	scrollbar-highlight-color: #222c33;
	scrollbar-track-color: #222c33;
}


h1, h2 { font-family: 'trebuchet ms', verdana, arial; padding: 10px; margin: 0; color: #FF6600 }
h1 { font-size: large }

#banner { padding: 15px; background-color: #06b; color: white; font-size: large; border-bottom: 1px solid #ccc;
    background: url(bg.gif) repeat-x; text-align: center }
#banner a { color: white; }

#main { padding: 1em; }

a img { border: none; }

.arancione { color: #FF6600;
             font-weight: bold;
              }
              
              .home {color: #FF5500;
             font-weight: bold;
             font-size:13px;
              }
                     