/* CSS file */
Application{
	themeColor: #D6D6D6;/*#ff9900;*/
   	color: #333333;
   	background-color:#ffffff;
	font-family: 'Trebuchet MS';
	font-anti-alias-type :advanced;   
    font-grid-fit-type:pixel;
    font-sharpness:-400;
    font-thickness:200; 
}
.toolBar{
	background-color:#222C33;
	border-style:solid;
	border-color:#333333;
	color:#eeeeee;
	font-size:13px;

}
.editMenu { 
	arrow-button-width:0;
	
	text-indent:2;
	background-alpha:0;
	 border-color:#ffffff;
	arrow-button-width:25;
	 highlightAlphas: 0.15, 0.15;
  	 fillAlphas: 0.20, 0, 0, 0;
   	fillColors: #ffffff, #ffffff, #ffffff, #ffffff;
   	skin:ClassReference("mx.skins.halo.ButtonSkin");
   	over-skin:ClassReference("mx.skins.halo.ButtonSkin");
   	down-skin:ClassReference("mx.skins.halo.ButtonSkin");
   	pop-up-style-name:"popUpContainer";
}
.editMenuItem{

}
.editMenuItemOver{
	corner-radius:2;
	background-color:#EC872B;
	background-alpha:.6;
	border-color:#EC872B;
	border-style:solid;
	border-thickness:0;
	text-align:center;
}
MenuBar {
	
	/*text-roll-over-color:#ff0000;*/
	menuStyleName:"menuStyleName";
	highlightAlphas: 0, 0;
	border-style:solid;
	border-thickness:0;
  	 fillAlphas: 1, 1;
   	fillColors: #222c33, #222c33;
   	   borderColor: #222c33;
/*	border-skin:Embed(source="skin/MysticEditorFx.swf#menuBar");*/ 
	 item-skin:Embed(source="skin/MysticEditorFx.swf#none"); 
	  skin:Embed(source="skin/MysticEditorFx.swf#none"); 
	 item-up-skin:Embed(source="skin/MysticEditorFx.swf#none");
	 item-over-skin:Embed(source="skin/MysticEditorFx.swf#menuItemOver");
	 item-down-skin :Embed(source="skin/MysticEditorFx.swf#menuItemDown");
	
	 
}
.menuStyleName {
	backgroundColor: #eeeeee;
	color:#333333;
	roll-over-color:#dddddd;
	
}

.menuBar{
	
	menu-style-name:menuBarStyle; 
	/*item-over-skin:Embed(source="assets/skin/MysticEditorFx.swf#none");
	item-down-skin:Embed(source="assets/skin/MysticEditorFx.swf#none");
	item-up-skin-skin:Embed(source="assets/skin/MysticEditorFx.swf#none"); 
	 */
	 color:#eeeeee;
	corner-radius:1;
	horizontal-gap:20;
	
}
.menuBarStyle{
	backgroundAlpha: 0;	 
	background-color:#222c33;
	skin:Embed(source="skin/MysticEditorFx.swf#none");
	up-skin:Embed(source="skin/MysticEditorFx.swf#none");
	border-skin:Embed(source="skin/MysticEditorFx.swf#none");
	
	background-color:#222C33;
}
.treeMenuStyle{
	rollOverColor: #cccccc;
	textRollOverColor: #000000;
   	selectionColor: #999999;
   	color: #999999;
   	textSelectedColor: #000000;
  	background-alpha:0;
  	border-style:none;
   	fontSize: 13;
}
.debugInfo{
	backgroundColor: #FFFFFF;
	backgroundAlpha: .5;
	color: #666666;
	cornerRadius: 10;
	borderStyle: solid;
	borderColor: #666666;
	paddingLeft: 10;
	paddingRight: 10;
	
}

Alert{
	creationCompleteEffect: alertCreationCompleteEffect;
	color : #CCCCCC;
	font-size:13px;
	title-style-name : "alertTitle";
	header-height:30;
	border-thickness: 5;
	drop-shadow-enabled: true;
	drop-shadow-color :#333333;
	shadow-direction:center	;
	background-color: #546E7F;
	corner-radius :0;
	border-style :solid;
	/*header-colors : #90a4d1, #5970a0;footer-colors : #9db6d9, #ffffff; */
	header-colors :  #2B3740, #2B3740;
	border-color : #222C33;
	highlightAlphas: 0,0;
	horizontalAlign: 0;
	button-style-name:"Button";
}
.alertTitle{
	font-size :13px;
	font-weight :bold;
	text-align :left;
	color :#ffffff;
}
/*Button {
   cornerRadius: 2;
   paddingTop: 0;
   paddingBottom: 0;
   highlightAlphas: 0, 0;
   fillColors: #2b3740, #2b3740, #2b3740, #2b3740;
   color: #cccccc;
   borderColor: #333333;
   themeColor: #222c33;
   fontSize: 13;
}*/
Button{
	 color: #eeeeee;
  text-roll-over-color:#eeeeee;
   fontSize: 13;
   skin:Embed(source="skin/MysticEditorFx.swf#menuItemOver");
   up-skin:Embed(source="skin/MysticEditorFx.swf#menuItemOver");
   down-skin:Embed(source="skin/MysticEditorFx.swf#menuItemDown");
   over-skin:Embed(source="skin/MysticEditorFx.swf#menuItemDown");
}