.title
{
	width: 100%;
	color: #FF6600;
	font-size: 50px;
	font-weight: bold;
	font-family: Arial;
	text-align: center;
	position: relative;
}
.images
{
	text-align: center;
	position: relative;
}
.text
{
	width: 100%;
	font-size: 15px;
	font-weight: bold;
	font-family: Arial;
	padding-left: 50;
	padding-right: 50;
}
.node
{
	width: 100%;
	color: #333;
	font-size: 17px;
	font-weight: small-caps;
	font-family: verdana, arial,'trebuchet ms';
	background-color: #EDE7D1;
	text-align: center;
	position: relative;
}
.nodearancione
{
	width: 35%;
	color: #FFFFFF;
	font-size: 17px;
	font-weight: small-caps;
	font-family: Arial;
	background-color: #FF7201;
	text-align: center;
	position: relative;
}
.nodelink
{
	width: 35%;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	font-family: verdana, arial,'trebuchet ms';
	background-color: #EDE7D1;
	text-align: center;
	position: relative;
}
body
{
	scrollbar-arrow-color: black; 
	scrollbar-3dlight-color: #EEEDE5; 
	scrollbar-highlight-color: #ECE9D8; 
	scrollbar-face-color: #C2D3FC; 
	scrollbar-shadow-color: #9FB5D2; 
	scrollbar-base-color:none; 
	scrollbar-darkshadow-color: #FDFDFD; 
	scrollbar-track-color: #F7F7F3;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #FDFDFD;
}

.normal
{
	width: 100%;
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: #333;
	padding-left: 70;
	padding-right: 70;
}
.file
{
	background: url(images/file.png) no-repeat;
}
.fileno
{
	background: url(images/file.png) 0 0 no-repeat;
	background-position-x: 50px;
}
a
{
	text-decoration: none;
	color: #333;
}
