.title
{
	width: 100%;
	color: #FF6600;
	font-size: 50px;
	font-weight: bold;
	font-family: Arial;
	text-align: center;
	position: relative;
	top: 40%;
}
.node
{
	width: 100%;
	color: #66645A;
	font-size: 15px;
	font-weight: bold;
	font-family: Arial;
	background-color: #E0DCC7;
	text-align: center;
	position: relative;
	top: 40%;
}
body
{
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #FFFBE3;
}
