<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="nhv-configuration" type="NHibernate.Validator.Cfg.ConfigurationSectionHandler, NHibernate.Validator" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />    
  </configSections>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.driver_class">NHibernate.Driver.OracleClientDriver</property>
      <property name="connection.connection_string">
        Data Source=OP21;User ID=EDITOR;Password=editor;Pooling=true;Connection Lifetime=120;Max Pool Size=50
      </property>
      <property name="show_sql">true</property>
      <property name="dialect">NHibernate.Dialect.Oracle9iDialect</property>
      <property name="query.substitutions">0 null,true 1, false 0, yes 'Y', no 'N',</property>
      <property name="proxyfactory.factory_class">NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle</property>
      <property name="use_proxy_validator">true</property>
    </session-factory>
  </hibernate-configuration>

  <log4net>

    <appender name="NHibernateFileLog" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/nhibernate.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="2MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n"  />
      </layout>
    </appender>

    <appender name="GeneralLog" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/general.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="2MB" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n"  />
      </layout>
    </appender>
    <appender name="DataLog" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/data.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="2MB" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n"  />
      </layout>
    </appender>

    <!-- levels: DEBUG, INFO, WARN, ERROR, FATAL -->

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="GeneralLog" />
    </root>

    <logger name="NHibernate" additivity="false">
      <level value="ALL"/>
      <priority value="DEBUG" />
      <appender-ref ref="NHibernateFileLog"/>
    </logger>

    <logger name="Pushable.Data" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="DataLog"/>
    </logger>
  </log4net>

  <nhv-configuration xmlns="urn:nhv-configuration-1.0">
    <property name="apply_to_ddl">true</property>
    <property name="autoregister_listeners">true</property>
    <property name="default_validator_mode">UseExternal</property>
    <mapping assembly="Editor"/>
  </nhv-configuration>

  <appSettings>
    <add key="ServerPath" value="D:\GIT_SRC\MYSTIC\MysticEditor\Editor.WEB\Fileserver"/>
    <add key="FileServer" value="D:\GIT_SRC\MYSTIC\MysticEditor\Editor.WEB\Fileserver"/>
    <add key="FileStage" value="D:\GIT_SRC\MYSTIC\MysticEditor\Editor.WEB\Stage"/>
    <add key="FileThemes" value="D:\GIT_SRC\MYSTIC\MysticEditor\Editor.WEB\Themes"/>
  </appSettings>
  <connectionStrings/>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
</configuration>
